# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
**/train_data/
/models/
/train_data/
/dataSources.local.xml
*CWE*

# Ignore large model files
*.gguf
*.bin
*.safetensors
qwen2.5-*
*.md 
*.pdf 
*.docx
